
.vs/ArtNetDotNet/v15/Server/sqlite3/db.lock
.vs/ArtNetDotNet/v15/Server/sqlite3/storage.ide
ArtNetBenchmarks/bin/Debug/netcoreapp2.0/ArtNetBenchmarks.deps.json
ArtNetBenchmarks/bin/Debug/netcoreapp2.0/ArtNetBenchmarks.runtimeconfig.dev.json
ArtNetBenchmarks/bin/Debug/netcoreapp2.0/ArtNetBenchmarks.runtimeconfig.json
ArtNetBenchmarks/bin/Release/netcoreapp2.0/ArtNetBenchmarks.deps.json
ArtNetBenchmarks/bin/Release/netcoreapp2.0/ArtNetBenchmarks.runtimeconfig.dev.json
ArtNetBenchmarks/bin/Release/netcoreapp2.0/ArtNetBenchmarks.runtimeconfig.json
ArtNetBenchmarks/bin/Release/netcoreapp2.0/BenchmarkDotNet.Artifacts/results/ArtNetBenchmarks.DmxPacketBenchmarks-report.html
ArtNetBenchmarks/bin/Release/netcoreapp2.0/BenchmarkDotNet.Artifacts/results/ArtNetBenchmarks.DmxPacketBenchmarks-report.csv
ArtNetBenchmarks/bin/Release/netcoreapp2.0/BenchmarkDotNet.Artifacts/results/ArtNetBenchmarks.DmxPacketBenchmarks-report-github.md
ArtNetBenchmarks/obj/Debug/netcoreapp2.0/ArtNetBenchmarks.AssemblyInfo.cs
ArtNetBenchmarks/obj/Debug/netcoreapp2.0/ArtNetBenchmarks.csproj.FileListAbsolute.txt
ArtNetBenchmarks/obj/Release/netcoreapp2.0/ArtNetBenchmarks.AssemblyInfo.cs
ArtNetBenchmarks/obj/Release/netcoreapp2.0/ArtNetBenchmarks.csproj.CopyComplete
ArtNetBenchmarks/obj/Release/netcoreapp2.0/ArtNetBenchmarks.csproj.FileListAbsolute.txt
ArtNetLib/bin/Release/netstandard2.0/ArtNetLib.deps.json
ArtNetLib/obj/Debug/netstandard2.0/ArtNetLib.AssemblyInfo.cs
ArtNetLib/obj/Release/netstandard2.0/ArtNetLib.AssemblyInfo.cs
ArtNetLib/obj/Release/netstandard2.0/ArtNetLib.csproj.FileListAbsolute.txt
